:root {
  --red: hsl(353, 100%, 62%);
  --lightred: hsl(356, 100%, 66%);
  --lighterred: hsl(355, 100%, 74%);
  --lightestred: hsl(13, 100%, 72%);

  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(240, 2%, 79%);
  --gray: hsl(207, 13%, 34%);
  --black: hsl(240, 10%, 16%);

  --darkblue: hsl(208, 49%, 24%);

  --verydarkblue: hsl(237, 17%, 21%);
  --darkdesaturatedblue: hsl(237, 17%, 21%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 16px;
}

/* HEADER */

header {
  height: 500px;

  z-index: 99;
  width: 100%;
  background-image: url("images/bg-pattern-intro-desktop.svg"),
    linear-gradient(to right, var(--lightestred), var(--red)); /* W3C */
  border-bottom-left-radius: 50px;
}

.header-container {
  justify-content: space-between;
}

.header-container h2 {
  font-size: 3em;
}

.header-container h2,
p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.header-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-btns a {
  color: var(--white);
}

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.logo {
  margin: 50px;
}

.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
}
.nav-links .mobile-item {
  display: none;
}
.nav-links .drop-menu {
  position: absolute;
  background: var(--white);
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3a3b3c;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    background: #3a3b3c;
  }
  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }
}
nav input {
  display: none;
}

.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div {
  font-size: 45px;
  font-weight: 600;
}

/* MAIN */

main h3 {
  margin-top: 150px;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

main h4 {
  font-size: 2em;
}

main p {
  color: var(--darkblue);
}

/* FIRST SECTION */

main section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main section .section-text {
  padding-top: 100px;
  margin-right: 350px;
  margin-left: 100px;
}

main section .section-text h4 {
  margin-bottom: 30px;
}

main section .section-text p {
  margin-bottom: 70px;
}

main section img {
  object-position: right;
  margin: -100px -250px;
}

/* SECOND SECTION */

main .phone-section {
  background-color: var(--darkblue);
  color: var(--white);
  border-radius: 0 50px 0 50px;
}

main .phone-section p {
  color: var(--white);
}

main .phone-section img {
  overflow: hidden;
}

/* THIRD SECTION */

main section .section-text-2 {
  padding-top: 100px;
  margin-right: 300px;
  margin-left: 300px;
}

main section .section-text-2 h4 {
  margin-bottom: 30px;
}

main section .section-text-2 p {
  margin-bottom: 70px;
}

main section .laptop-img {
  object-position: left;
  margin-left: -275px;
}

/* FOOTER */
footer {
  height: 400px;
  padding: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  border-top-right-radius: 50px;
  background-color: var(--black);
  color: var(--lightgray);
}

.footer-section {
  height: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 50px;
  list-style-type: none;
}

.footer-section ul {
  line-height: 40px;
  list-style-type: none;
}

.footer-section ul li a {
  text-decoration: none;
}

.footer-section-header {
  color: var(--white);
  line-height: 70px;
}

.footer-section-content {
  color: var(--lightgray);
}
